*{
  padding: 0;
  margin: 0;
}

body{
  font-family: 'Poppins', sans-serif;
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* AppBar */
.app-bar{
  position: sticky;
  padding: 8px 5px;
  background-color: white;
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 10px;
  top: 0;
  z-index: 99;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
}
.app-bar .app-bar__menu button{
  background-color: transparent;
  border: none;
  font-size: 18px;
  cursor: pointer;
  display: block;
  min-width: 45px;
  min-height: 45px;
  line-height: 45px;
}
.app-bar .app-bar__menu{
  display: flex;
  align-items: center;
}
.app-bar .app-bar__brand{
  display: flex;
  align-items: center;
}
.app-bar .app-bar__brand h1{
  color: #4341d1;
  text-transform: uppercase;
  font-size: 22px;
  user-select: none;
  padding-left: 20px;
}
.app-bar .app-bar__navigation{
  position: absolute;
  top: 60px;
  left: -680px;
  width: 50%;
  transition: all 0.4s;
  padding: 8px;
  background-color: rgb(119, 82, 252);
  overflow: hidden;
}
.app-bar .app-bar__navigation.open{
  left: 0;
}
.app-bar .app-bar__navigation ul li a{
  display: inline-block;
  text-decoration: none;
  color: white;
  padding: 8px;
  margin-bottom: 5px;
  width: 100%;
}
.app-bar .app-bar__navigation ul li:hover{
  background-color: white;
  border-radius: 10px;
  display: inline-block;
}
.app-bar .app-bar__navigation ul li a:hover{
  color: blue;
}

/* jumbotron */
.hero{
  display: flex;
  align-items: center;
  min-height: 400px;
  width: 100%;
  text-align: center;
  background-image: url('https://restaurant-api.dicoding.dev/images/large/28');
  background-position: center;
  background-color: #4341d1;
}
.hero__inner{
  margin: 0 auto;
  max-width: 800px;
}
.hero__title{
  color: #fff;
  font-weight: 500;
  font-size: 36px;
}
.hero__tagline{
  color: #fff;
  margin-top: 16px;
  font-size: 18px;
  font-weight: 300;
}

/* main content */
main {
  padding: 32px;
  flex: 1;
}
.content {
  margin: 0 auto;
  min-height: 100%;
}
.content .content__heading {
  font-weight: normal;
}

/* restaurant */
.restaurantes{
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
  margin: 32px 0;
}

/* restaurant-item */
.restaurant-item{
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 8px;
  overflow: hidden;
}
.restaurant-item__header{
  position: relative;
}
.restaurant-item .restaurant-item__header .restaurant-item__header__poster{
  width: 100%;
}
.restaurant-item .restaurant-item__header .restaurant-item__header__rating{
  position: absolute;
  padding: 8px;
  bottom: 20px;
  left: 0;
  display: inline-block;
  background-color: black;
  color: white;
}
.restaurant-item .restaurant-item__header .restaurant-item__header__rating .restaurant-item__header__rating__score{
  margin-left: 10px;
}
.restaurant-item .restaurant-item__content{
  padding: 16px;
}
.restaurant-item .restaurant-item__content h3{
  margin: 0 0 10px 0;
}
.restaurant-item .restaurant-item__content h3 a{
  color: #4341d1;
  text-decoration: none;
}
.restaurant-item .restaurant-item__content p{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

/* restaurant */
.restaurant{
  margin: 0 auto;
  width: 100%;
  max-width: 800px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 18px 16px;
}
.restaurant .restaurant__poster{
  width: 100%;
  max-width: 400px;
}
.restaurant .restaurant__info h4{
  margin: 8px 0;
}

/* Like */
.like{
  font-size: 18px;
  position: fixed;
  bottom: 16px;
  right: 16px;
  background-color: #db0000;
  color: white;
  border: 0;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* footer */
footer{
  padding: 16px;
}
footer p{
  text-align: center;
  color: #aaaaaa;
}
footer p a{
  color: #4341d1;
  text-decoration: none;
}